@using OdeToFoodStepUp.Entities
@model Restaurant
    <!DOCTYPE html>
    <html>
    <head>
        <title>Create</title>
    </head>

    <body>
        <h1>Create</h1>
    <form action="" method="post">
        <div>
            @Html.LabelFor(m => m.Name)
            @Html.EditorFor(m => m.Name)
        </div>
        <div>
            @Html.LabelFor(m => m.Cuisine)
            @Html.DropDownListFor(m => m.Cuisine, Html.GetEnumSelectList(typeof(CuisineType)))
        </div>

        <input type="submit" value="Create" />
    </form>
    </body>
</html>
