
@model Restaurant

@if (Model != null)
{
    <h1>@Model.Name</h1>
    <div>
        <h3>@Model.Id</h3>
        <h3>@Model.Cuisine</h3>    
    </div>
}
else
{
    <h1>Incorrect Id</h1>
}
<div>
    @Html.ActionLink("Go To Index", "Index")
</div>

