@model IEnumerable<OdeToFoodStepUp.Entities.Restaurant>
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>

<body>
    <h1>Welcome!</h1>
<div>
    <ul>
        @foreach (var restuarant in Model)
        {
            <li>@restuarant.Id @restuarant.Name</li>
        }
    </ul>
</div>
</body>
</html>
