@model OdeToFoodStepUp.Models.HomePageViewModel

@{
    ViewBag.Title = "Home!";
}

<h1>Welcome!</h1>
   
<div>
    <ul>
        @foreach (var restuarant in Model.Restaurants)
        {
            <li>@restuarant.Id @restuarant.Name @Html.ActionLink("Details", "Details", new {id = restuarant.Id})</li>
        }
    </ul>
</div>

@section footer {
    <h3>@Model.CurrentGreeting</h3>
}
