@using OdeToFoodStepUp.Entities
@model OdeToFoodStepUp.Entities.Restaurant
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>

<body>
<h1>Welcome!</h1>
<div>
    @Model.Name
</div>
</body>
</html>
