@model OdeToFoodStepUp.Models.HomePageViewModel
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>

<body>
<h1>Welcome!</h1>
    <h3>Model.CurrentGreeting</h3>
<div>
    <ul>
        @foreach (var restuarant in Model.Restaurants)
        {
            <li>@restuarant.Id @restuarant.Name</li>
        }
    </ul>
</div>
</body>
</html>
